
#btn{
    all: unset;
    background: green;
    color: white;
    padding: 20px;
    border-radius: 10%;
    margin: 10%;
    height: 100px;
    width: 200px;
    text-align: center;
    font-size: 30px;
}